<button (click)="nuevaPersona()" class="btn btn-primary">Nuevo</button>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Personas Registradas</h3>
        </div>

        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Editar/Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let persona of personas" class="text-center">
                        <td>{{persona.nombre}}</td>
                        <td>{{persona.apaterno}}</td>
                        <td>{{persona.amaterno}}</td>
                        <td>
                            <button class="btn btn-warning" [routerLink]="['/edit', persona.id]">Editar</button>
                            <button class="btn btn-danger" style="margin-left: 10px;" (click)="eliminarPersona(persona)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p *ngIf="personas.length == 0">No hay personas registradas</p>
        </div>

    </div>
</div>