

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Personas</span>
    </div>
  </nav>

<div class="container">
  
  <router-outlet></router-outlet>
</div>