
<h2>Registrar persona</h2>
<form #personaForm="ngForm" (ngSubmit)="onSubmit()">

    <label for="name" class="form-label">Nombre</label>
    <input type="text" name="name" id="name" #name="ngModel" [(ngModel)]="persona.nombre" class="form-control" required>
    <span class="form-text" *ngIf="name.touched && !name.valid">El nombre es obligatorio</span>
    
    <label for="apaterno" class="form-label">Apellido Paterno</label>
    <input type="text" name="apaterno" id="apaterno" #apaterno="ngModel" [(ngModel)]="persona.apaterno" class="form-control" required>
    <span class="form-text" *ngIf="apaterno.touched && !apaterno.valid">El apellido paterno es obligatorio</span>
    
    <label for="amaterno" class="form-label">Apellido Materno</label>
    <input type="text" name="amaterno" id="amaterno" #amaterno="ngModel" [(ngModel)]="persona.amaterno" class="form-control" required>
    <span class="form-text" *ngIf="amaterno.touched && !amaterno.valid">El apellido materno es obligatorio</span>

    <div class="d-grid gap-2">

        <input type="submit" value="Guardar" class="btn btn-primary btn-lg" [disabled]="personaForm.form.invalid">
        <button class="btn btn-danger btn-lg" [routerLink]="['/listar']">Cancelar</button>
    </div>


</form>